@import "../../scss/setups.scss";

.ct-projects-dark {
	max-width: 1320px;
	min-height: 486px;
	margin: 0 auto;
	margin-top: 60px;
    display: flex;
    flex-direction: column;
	background: $bg-box-dark;
	filter: $dropshadow-dark;
	border-radius: 20px;
    h2{
        margin: 30px 140px;
		@include formatText($pr-color-dark, $font-text, 36px, 500, regular);
    }
    p{
        align-self: center;
        margin-top: 100px;
        @include formatText(
            $pr-color-dark,
            $font-text,
            50px,
            600,
            none
        );
    }

}